body{
    background-image: url(background_portifolio.jpg) ;  
    background-size: auto 165vh;
    font-family: Calibri;
    height: 100vh; 
}

.menu{
    background: white;
}
.menu ul{
    display:flex;
    justify-content: space-around;
}
.menu li{
    list-style:none;
}

a{
    text-decoration:none;
    color: teal;
}

.site-subtitle, 
.site-title{
    text-align: center;
    color:whitesmoke;
}
.site-subtitle{
    font-style: italic;
}